<style>
  .daniel.widget {
    background-color: #1D8202;
  }

  .lucy.widget {
    background-color: #F60082;
  }

  .widget-meter input.meter {
    background-color: rgba(255, 255, 255, .3);
  }
</style>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2" class="daniel-widget">
      <div data-id="daniel" data-view="Meter" data-title="Danielsaurus" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="lucy" data-view="Meter" data-title="Lucysaurus" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
  </ul>
</div>
